/* Colors
Gunmetal: #273043
Cadet Blue: #56A3A6
Bone White: #E6DBD0
Deep Taupe: #795C5F
Tuscan Tan: #A69658
*/
body {
    background-color: #56A3A6;
}
.container {
    max-width: 950px;
    margin-top: 50px;
}
#page-header {
    background-color: #273043;
    border: 2px solid #795C5F;
    color: #E6DBD0;
}
.card-body {
    border: 2px solid #795C5F;
}
.card-header {
    background-color: #795C5F;
    color: white;
}